@import 'tailwindcss';

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  text-align: initial;
  border: none;
  min-height: 100svh;
}
